* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background-color: #ddd;
}

.website-header{
    background: lightblue;
    padding: 20px;
    text-align: center;
    font-size: x-large;
}

.header-text{
    animation: fadeInAnimation; 
    animation-duration: 5s;
}

.header-subtext {
    font-size: medium;
    animation: fadeInAnimation;
    animation-duration: 10s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    display: block; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    font-size: x-large;
}

.quarter-1 {
    width: 25%;
}

.quarter-2 {
    width: 25%;
}

.quarter-3 {
    width: 25%;
}

.quarter-4 {
    width: 25%;
}

.card{
    background-color:  #ddd;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #a3a3a3;
    margin-top: 20px;
    font-size: x-large;
    overflow: hidden;
}

.header-image{
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
    height: 400px;
    border-radius: 20%;
    overflow: hidden;
    animation: fadeInAnimation;
    animation-duration: 5s;
}

.header-card { 
    font-size: x-large;
}

.about-text {
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: large;
}

hr {
    width: 70%;
}

.social-menu {
    margin: auto;
    width: 170px;
    text-align: center;
    display: flex;
	list-style-type: none;
}

.social-menu i {
    color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 50%;
    margin-right: 10px;
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	display: flex;
	justify-content: center;
}

.social-menu i:before {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.social-menu a {
	text-decoration: none;
}

.fa-facebook {
	background:#3b5998
} 

.fa-linkedin {
	background:#007bb6
}

.fa-github {
	background:black
}

.fa-instagram {
	background:#c13584
}

.social-menu i:hover {
	opacity: .7;
	border-radius: 0;
}